<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Below is the {{title}}!
  </h1>
</div>

<br>
<br>
<br>

<div class="well" style="width:1000px; height: 50px; margin:0 auto; background-color: darkgrey; padding: 6px;">
  <app-home></app-home>
  <app-about></app-about>
  <app-contact-us></app-contact-us>
  <app-search-bar></app-search-bar>
</div>
